body {
	background-color: #f2f2f0;
}

#page {
	width: 960px;
	margin: 0 auto;
}

/* CABE‚ALHO */

#page header #menu-wrapper #logo {
	margin: 10px 0;
}

#page header #search-wrapper {
	position: relative;
	display: table;
	height: 100px;
}

#page header #search-wrapper .search-icon {
	position: absolute;
	left: 10px;
	margin: 0.6em 0;
}

#page header #search-wrapper div.search-content  {
	z-index: 10;
	position: absolute;
	left: 0;
	margin: 1em 0;
}

#page header #search-wrapper input#search-content  {
	height: 40px;
	width: 585px;
	font-size: 16px;
	padding: 0 40px;
	color: #989896;
}

#page header #search-wrapper div.scaled-background {
	background: url(../images/header/barBusca.png) repeat-x #429cd1;
	height: 80px;
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
}

#page header #mainmenu ul {
	height: 45px;
}

#page header #mainmenu ul li {
	float:left;
	height: 100%;
	padding: 0 15px;
	text-align: center;
	line-height: 45px;
	text-decoration: none;
}

#page header #mainmenu ul li a {
	text-decoration: none;
	color: #868789;
}


/* FOOTER */

footer #second-layer, footer #main-layer {
	position: relative;
	display: table;
}

footer #main-layer div.scaled-background {
	background: #dfe0e2;
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
}

footer #second-layer div.rights div.scaled-background {
	background: #429cd1;
	height: 50px;
	z-index: 5;
	position: absolute;
	left: 0;
	top: 0;
}

footer #second-layer div.legal div.scaled-background {
	background: #1476b5;
	height: 100px;
	z-index: 5;
	position: absolute;
	left: 0;
	top: 50px;
}
